
*
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 12px;
    font-family: DejaVu Sans, sans-serif;
    color: black;
    cursor: default;
}

a {
    cursor: pointer;
}

html
{
    background: #ccc;
}

div#error, div#message
{
    position: fixed;
    left: 35%;
    top: 50%;
    width: 30%;
    padding: 10px;
    border: 1px solid #333;
    margin-top: -50px;
    font-size: 16px;
    font-weight: bold;
    color: #222;
    background: #fdd;
}

div#message
{
    background: #eee;
}

div#description
{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    border-bottom: 2px solid #888;
    text-align: right;
    color: #444;
}

div.menu
{
    text-align: left;
    position: relative;
    display: inline-block;
}

div#description,
div.menu p, div.menu a
{
    display: block;
    height: 23px;
    background: #fff;
    line-height: 23px;
}

div.menu p, div.menu a
{
    padding: 0 10px;
    text-shadow: 1px 1px #bbb;
}

div.menu p:hover, div.menu a:hover,
div.menu div:hover p, div.menu a.selected
{
    background: #bbb;
    color: #fff;
    text-shadow: 1px 1px #777;
}

div.menu div
{
    position: absolute;
    display: none;
    left: 0px;
    top: 22px;
    width: 300px;
    padding-top: 3px;
    border-bottom: 2px solid #888;
}

div.menu:hover div
{
    display: block;
}

div#xxx div.right_menu
{
    float: right;
}

div#xxx div.right_menu div
{
    left: auto;
    right: 0;
}
