@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: none; 
    color: black;
    list-style: none;
}

html {
    font-size: 14px;
    font-family: DejaVu Sans, sans-serif;
    background: #d4d4d4 url(pattern.jpg) left top;
    margin: 10px;
}

p, pre, h1, h2 {
    margin: 14px 0;
}

a {
    color: #004;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 18px;
    color: #222;
}

h2 {
    font-size: 14px;
}

div.page {
    margin: 0 auto;
    background: #efefef;
    border: 1px solid #888888;
    box-shadow:
        0 0 40px #d7d7d7,
        20px 20px 100px #d7d7d7,
        20px -20px 100px #d7d7d7,
        -20px 20px 100px #d7d7d7,
        -20px -20px 100px #d7d7d7;
    width: 800px;
    padding: 5px 27px 17px 25px;
}

ul.subs {
    margin-right: -27px;
}

ul.subs li {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    padding: 0 21px 20px 0;
    word-wrap: break-word;
    overflow: hidden;
    font-size: 11px;
    color: #888;
}

ul.subs a {
    display: block;
    font-size: 14px;
}

ul.subs img {
    display: block;
    width: 140px;
    height: 100px;
    text-decoration: none;
    margin-bottom: 4px;
    border: 1px solid #888888;
}

div.footer {
    width: 800px;
    text-align: center;
    margin: 10px auto;
}

div.footer * {
    font-size: 11px;
    color: #6f5e50;
}

div.footer p {
    margin: 5px 0;
}
