@charset "UTF-8";

html { font-size: 14px; font-family: DejaVu Sans, sans-serif;
	background: #d4d4d4 url(pattern.jpg) left top; }
body { margin: 0; color: black; padding: 10px 0 0 0;
	background: url(bg.png) repeat-y center top; min-width: 874px }
form, ul { margin:0 }
p, pre, h1, h2 { margin: 14px 0 }
a { color: #004 }
i { color: #040 }
img { border: none }
ul { list-style: none; padding:0 }
pre { white-space: pre-wrap }
pre, code { font-family: DejaVu Sans Mono, monospace;
	font-size: 13px; color: #400 }
h1 { font-size: 18px; color:#222 }
h2 { font-size: 14px; }

div.article { line-height:18px; margin-bottom: 20px }
div.article h1 { background: url(break.png) repeat-x 0 15px;
	padding-top: 55px; margin-left: -26px; margin-right: -28px;
	padding-left: 26px; padding-right: 28px; }

div.page { margin: 0 auto; background: #efefef;
	width:800px; padding: 5px 27px 17px 25px; }

div.page, ul.subs img, ul.gallery img, div.article img
	{ border: 1px solid #888888 }

ul.navpath { display: inline }
ul.navpath li { display: inline; float: left;
	padding-right: 2px; margin-top: 17px }
ul.navpath a { font-size: 14px; color: #888888 }
ul.navpath li:after { content:" » " }

ul.subs, ul.gallery { margin-right:-27px }
ul.subs li, ul.gallery li { display: inline-block; vertical-align: top;
	width: 140px; padding: 0 21px 20px 0;
	word-wrap: break-word; overflow:hidden }
ul.subs img { display: block; width: 140px; height: 100px;
	text-decoration: none; margin-bottom: 4px }

div.alphabetical ul { width: 200px; margin-right: 10px; float: left;
	padding-bottom: 20px }
div.alphabetical b { font-size:18px; line-height: 40px; color: #777 }
div.alphabetical li { margin: 6px 0 }

ul.attachments { margin: -5px 0 20px 0 }
ul.attachments li { margin: 6px 0 }
ul.attachments li:before { content:"⇨ " }

div.footer { text-align: center; width: 100%;
	min-width: 874px; position: absolute;
	height: 100px; background: url(footer.png) no-repeat center top }
div.footer p, div.footer a, div.footer form
	{ font-size: 11px; color: #6f5e50 }
div.footer p { margin: 8px 0 0 0 }
div.footer span { margin: 0 6px }

